Host bastion
Hostname ec2-54-237-195-130.compute-1.amazonaws.com
User ubuntu
ForwardAgent yes
ControlMaster auto
ControlPath ~/.ssh/ansible-%r@%h:%p
ControlPersist 5m
IdentityFile /home/devops/Documents/aws_training_keys/rampup_miguel.pem
StrictHostKeyChecking no

Host 10.32.*
User ubuntu
#ProxyCommand ssh -W %h:%p ubuntu@bastion
ProxyJump bastion
IdentityFile /home/devops/Documents/aws_training_keys/rampup_miguel.pem
StrictHostKeyChecking no
